div.AppUserList div.PeriodTitle,
div.Period.row div.PeriodTitle {
    width: 20px;
    position: relative;
    vertical-align: middle;
    text-align: center;
    display: table-cell;
}

div.Period.row div.PeriodTitle h3 {
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
}

div.Period.column div.PeriodTitle {
    width: auto;
    position: relative;
    vertical-align: middle;
    text-align: center;
    display: block;
}

span.nextWeekButton button,
span.prevWeekButton button{
    height: 15px;
	width: 15px;
	margin: 0;
	padding: 0;
	text-align: center;
	z-index: 100;
}

div.Period.column span.prevWeekButton {position:absolute; top:0; left:0;}
div.Period.column span.prevWeekButton button.add::before {content: '<';}

div.Period.row span.prevWeekButton {position: absolute; top:3px; left:2px;}
div.Period.row span.prevWeekButton button.add::before {content: 'ᐱ';}

div.Period.column span.nextWeekButton {position: absolute;  top:0; right:0;}
div.Period.column span.nextWeekButton button.add::before {content: '>';}

div.Period.row span.nextWeekButton {position: absolute;  bottom:3px; left:2px;}
div.Period.row span.nextWeekButton button.add::before {content: 'ᐯ';}

div.Period.column div.PeriodTitle h3 {
    transform: none;
}


div.PeriodTitle h3 {
    font-size: larger;
    margin: 0;
}

