div.Period.row div.PeriodData {
    display: table-cell;
}

div.Period.column div.PeriodData {
	display: table-cell;
		flex-grow: 1;
}

div.PeriodData table {
	border: none;
	border-spacing: 0;
	vertical-align: top;
	width: 100%;
	min-height: 80px;
	padding: 0;
	margin: 0;
}