td.userCell ul li.userJob.closed {
    color:#306108;
    border-color:#268a16;
    box-shadow:inset 0 1px 0 0 #caefab;
    text-shadow: 0 1px 0 #aade7c;
    background:linear-gradient(#77d42a, #5cb811);
}

td.userCell ul li.userJob.open {
    color:rgba(106, 59, 20, 1);
    border-color:rgba(121, 79, 2, 1);
    box-shadow:inset 0 1px 0 0 #fff6af;
    text-shadow: 0 1px 0 #ffee66;
    background:linear-gradient(#ffec64, #ffab23);
}


li.userJob span.jobToggle {
	float: right;
	line-height: 10px;
	cursor: pointer;
	display: none;
	position: absolute;
	right: 2px;
	font-size: 16px;
}

li.userJob:hover span.jobToggle {
	display: block
}

li.userJob.closed span.jobToggle:before {
	content: '\2612'
}

li.userJob.open span.jobToggle:before {
	content: '\2611'
}