span.homeButton {
	position: fixed;
	top: 0;
	left: 0;
	padding: 1px 4px;
	z-index: 991;
}

span.homeButton:hover {
	background: greenyellow;
}

button.memoButton {
	position: fixed;
	top: 25px;
	left: 0;
	padding: 1px 2px;
	z-index: 991;
	background: inherit;
	border: none;
}

button.memoButton:hover {
	background: greenyellow;
}


button.optionsButton {
	position: fixed;
	top: 0;
	right: -1px;
	padding: 1px 1px;
	z-index: 991;
	border: none;
	background: inherit;
}

button.optionsButton:hover {
	background: greenyellow;
}

button.calendarButton {
	position: fixed;
	top: 25px;
	right: -1px;
	padding: 1px 1px;
	z-index: 991;
	border: none;
	background: inherit;
}

button.calendarButton:hover {
	background: greenyellow;
}