.invAuthForm {
	position: fixed;
	/*top: 100px;*/
	background: repeating-linear-gradient(
		-60deg,
		#dddddd,
		#dddddd 25px,
		#eeeeee 25px,
		#eeeeee 50px
	  );
	width: 100%;
	padding-bottom: 1em;
	text-align: center;
}