{
  "version": "0.2.0",
  "configurations": [
    {
      "name": "React: Chrome",
      "type": "pwa-chrome",
      "request": "launch",
      "url": "https://localhost:3030/",
      "webRoot": "${workspaceFolder}/src"
    }
  ]
}
