.UserItem {position: relative;}
.UserItem.ABSENT			{background-color: indianred;}
.UserItem.WEEK_ABSENT		{background-color: orange;}
.UserItem.TWO_WEEK_ABSENT	{background-color: yellow;}

.UserItem.hovered {
    background-color: lime;
}

.UserItem span.userStatus,
.UserItem span.phoneStatus {
    width: 6px;
    height: 6px;
    border-radius: 3px;
    display: inline-block;
    margin-bottom: 1px;
    margin-right: 1px;
}
.UserItem span.userStatus.online {background-color: lime;}
.UserItem span.userStatus.away {background-color: orange;}
.UserItem span.userStatus.unavail {background-color: red;}
.UserItem span.userStatus.offline {background-color: gray;}

.UserItem span.dutyPhone{color:blue; font-weight: bolder;}
.UserItem span.phoneStatus.IDLE {background-color: lime;}
.UserItem span.phoneStatus.RINGING {background-color: orange;}
.UserItem span.phoneStatus.INUSE {background-color: red;}
.UserItem span.phoneStatus.UNKNOWN,
.UserItem span.phoneStatus.UNAVAILABLE {background-color: gray;}
