div.AppUserList {
    width:100%;
    display: table;
}

div.AppUserList div.PeriodData table.UserCells {
	min-height: 16px !important;
	overflow: visible;
	padding:0;
	margin: 0;
	vertical-align: top;
}

div.AppUserList div.PeriodData table.UserCells td {
	overflow: visible;
	padding:0;
	margin: 0;
}


div.dummyScrollBar {display: table-cell;}